<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <img src= '<%= homer.imageUrl %>'  height="130px"/>
        <p>Name : <%- homer.name %></p>
        <p>Date of Birth : <%- homer.dob %></p>
        <p>Profession : <%- homer.profession %></p>
        <p>Favorite Food : <%- homer.favoriteFood %></p>
        <p>Favorite Drink : <%- homer.favoriteBeverage %></p>
      </div>
    </div>
  </div>
  <nav>
    <a href ='/question2'>Previous</a>
    <a href ='/question4'>Next</a>
  </nav>
</body>
