<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/2') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <!-- Notice that the commenting inside the ejs brackets is JS. -->

        <p><%- sentence %></p>
        <p><%= sentence %></p>

        <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
      </div>
    </div>
    <div class="nav-bar">
      <button onclick="location.href='/question1';">
        Previous Exercise
      </button>
      <button onclick="location.href='/question3';">
        Next Exercise
      </button>
    </div>
  </div>
</body>
