<!DOCTYPE html>
<head>
  <title>Node: Workshop 1</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <div class="names">
          <h3>Top 5 girls names in the England and Wales</h3>
          <ol style="list-style-type: decimal; margin-left: 15px;">
            <% popularGirlNames.forEach(item => { %>
            <li><%= item %></li>
            <% }) %>
          </ol>
          <ol>
            <% popularGirlNames.forEach((item, i) => { %>
            <li><%= i + 1 %>. <%= item %></li>
            <% }) %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</body>
