<%- include('../partials/questions/head.ejs') %>
<body>
  <%- include('../partials/questions/header.ejs') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <img src="<%= homer.imageUrl %>" />
        <h2><%= homer.name %></h2>
        <p>Born: <%= homer.dob %></p>
        <p>Job: <%= homer.profession %></p>
        <p>Favorite Food: <%= homer.favoriteFood %></p>
        <p>Favorite Drink: <%= homer.favoriteBeverage %></p>
      </div>
    </div>
    <div class="nav-bar">
      <button onclick="location.href='/question2';">
        Previous Exercise
      </button>
      <button onclick="location.href='/question4';">
        Next Exercise
      </button>
    </div>
  </div>
</body>
