<% let pageNum = 3; %>
<%- include('../partials/header', {pageNum: pageNum}) %>

<div class="box answer">
  <h3>Answer</h3>
  <img src="<%= homer.imageUrl %>" alt="Homer Simpson eating a doughnut">
  <ul>
    <li><%= homer.name %></li>
    <li><%= homer.dob %></li>
    <li><%= homer.profession %></li>
    <li><%= homer.favoriteFood %></li>
    <li><%= homer.favoriteBeverage %></li>
  </ul>
</div>
</div>
</div>
</body>