<%- include('../partials/questions/htmlHeaders', {}) %>
<body>
  <%- include('../partials/questions/onlyHeader', {}) %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Top 5 girls names in the England and Wales</h3>
        <!-- render answer here -->
        <ol>
          <% popularGirlNames.forEach(function(name, position) { %>
          <li><%= position + 1 %>. <%= name %></li>
          <% }); %>
        </ol>
      </div>
    </div>
  </div>
  <a href="/question4">PREVIOUS PAGE</a>
  <a href="/question6">NEXT PAGE</a>
</body>
