<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <p>Top 5 girl names in England</p>
        <ol>
          <% popularGirlNames.forEach((name, id) => { %>
            <li><%= id+1 %>.<%= name %></li>
          <% }); %>
        </ol>
      </div>
    </div>
  </div>
  <nav>
    <a href ='/question4'>Previous</a>
    <a href ='/question6'>Next</a>
  </nav>
</body>
