<%- include('../partials/intro') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/2') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <!-- Notice that the commenting inside the ejs brackets is JS. -->

        <p><%- sentence %></p>
        <p><%= sentence %></p>

        <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
      </div>
    </div>
    <a href="/question1" class="previous">&laquo; Previous</a>
    <a
      href="/"
      style="position: absolute; left: 50%; transform: translate(-50%);"
      >Homepage</a
    >
    <a href="/question3" style="float: right;">Next &raquo;</a>
  </div>
</body>
