<%- include('../partials/questions/htmlHeaders', {}) %>
<body>
  <%- include('../partials/questions/onlyHeader', {}) %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <li><%- topThreeNames[0] %></li>
          <li><%- topThreeNames[1] %></li>
          <li><%- topThreeNames[2] %></li>
        </ol>
      </div>
    </div>
  </div>
  <a href="/question3">PREVIOUS PAGE</a>
  <a href="/question5">NEXT PAGE</a>
  <a href="/">RETURN TO HOMEPAGE</a>
</body>
