<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <li>1. <%= firstThree[0] %></li>
          <li>2. <%= firstThree[1] %></li>
          <li>3. <%= firstThree[2] %></li>
        </ol>
        <nav class='next-page'>
          <a href='/question3'>Previous</a>
          <a href='/question5'>Next</a>
        </nav>
      </div>
    </div>
  </div>
</body>

