<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <h3>Top 5 girls names in the England and Wales</h3>
        <!-- render answer here -->
        <ol>
          <!-- Looping Over Data  -->
          <% popularGirlNames.forEach((name, id) => { %>
            <li><%= id + 1 %>. <%= name %></li>
          <% }); %>
        </ol>
        <nav class="next-page">
          <a href="/question4">Previous</a>
          <a href="/question6">Next</a>
        </nav>
      </div>
    </div>
  </div>
</body>
