<%- include('../partials/questions/head') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <h2>Top 3 girls names:</h2>
        <ol>
          <li><%- name1 %></li>
          <li><%- name2 %></li>
          <li><%- name3 %></li>
        </ol>
      </div>
    </div>
  </div>
  <nav>
    <a href ='/question3'>Previous</a>
    <a href ='/question5'>Next</a>
  </nav>
</body>
