<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>Name: <%= homer.name %></p>
        <p>Dob: <%= homer.dob %></p>
        <p>Profession: <%= homer.profession %></p>
        <p>Favorite food: <%= homer.favoriteFood %></p>
        <p>Favorite beverage: <%= homer.favoriteBeverage %></p>
        <nav class="next-page">
          <a href="/question2">Previous</a>
          <a href="/question4">Next</a>
        </nav>
      </div>
    </div>
  </div>
</body>
